.divstyle{
    width: 100%;
    height: 85vh;
    /* background-color: purple; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.redbtn{
    color: white;
    background-color: red;
    border: solid 2px black;
    width: 50px;
    height: 50px;
    margin: 2%;
}

.greenbtn{
    color: white;
    background-color: green;
    border: solid 2px black;
    width: 50px;
    height: 50px;
    margin: 2%;
}

.yellowbtn{
    color: white;
    background-color: yellow;
    border: solid 2px black;
    width: 50px;
    height: 50px;
    margin: 2%;
}

.bluebtn{
    color: white;
    background-color: lightblue;
    border: solid 2px black;
    width: 50px;
    height: 50px;
    margin: 2%;
}

.orangebtn{
    color: white;
    background-color: orange;
    border: solid 2px black;
    width: 50px;
    height: 50px;
    margin: 2%;
}